* {
    margin: 0;
    padding: 0;
}
iframe {
    border: none;
    width: 100%;
    height: 100%;
}
html {
    padding-bottom: 35px;
}
body {
    height: 100%;
    position: relative;
    font-family: Calibri, Arial, sans-serif;
    font-size: 14px;
}
#styles-player {
    height: 35px;
    position: absolute;
    width: 100%;
    bottom: -35px;
    overflow: visible;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: default;
}
.region {
    position: absolute;
    width: 100%;
    left: 0;
}
.region.top {
    top: 0;
    height: 10px;
}
.region.bottom {
    top: 10px;
    height: 25px;
    overflow: hidden;
}
.timeline {
    height: 100%;
    position: relative;
}
.timeline .progress {
    height: 100%;
}
.timeline .handle {
    position: absolute;
    width: 10px;
    height: 10px;
    margin-top: -8px;
    margin-left: -8px;
    left: 0;
    top: 50%;
    border: 3px solid transparent;
    border-radius: 10px;
    box-shadow: 0 0 7px -2px black, 0 0 7px black inset;
    z-index: 1;
    /* Hide until Chrome overflow issue has been fixed */
    display: none;
}
.button {
    position: absolute;
    width: 40px;
    height: 100%;
}
.button:hover {
    background: #444;
}
.button:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 3px;
    line-height: 22px;
    font-size: 12px;
}
.button.play:before {
    content: "\25B6";
}
.button.stop:before {
    content: "\25FC";
}
.button.replay:before {
    content: "R";
}
.time {
    position: absolute;
    padding-top: 2px;
    line-height: 23px;
    left: 40px;
    font-size: 12px;
    text-align: right;
    padding-left: 10px;
}
.time .separator {
    padding: 0 5px;
    text-align: center;
}
.time .current {
    font-weight: bold;
}
.preview {
    position: absolute;
    width: 180px;
    margin-left: -100px;
    overflow: hidden;
    bottom: 15px;
    box-shadow: 0 2px 5px -2px black;
    border-radius: 5px;
    padding: 10px;
    z-index: 2;
    line-height: 1.15em;
}
.zoom {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
}
.zoom > span {
    display: block;
    position: absolute;
    top: 0;
    padding-top: 2px;
    line-height: 23px;
    text-align: center;
}
.zoom .increase:hover,
.zoom .decrease:hover,
.zoom .fit:hover,
.zoom .reset:hover {
    background-color: #444;
}
.zoom .increase,
.zoom .decrease {
    width: 17px;
    height: 8px;
    right: 110px;
    line-height: 8px;
    border: 1px solid #222;
    border-radius: 5px;
    top: 2px;
}
.zoom .increase {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.zoom .decrease {
    top: 13px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.zoom .current {
    width: 45px;
    right: 60px;
    text-align: right;
    padding-right: 5px;
}
.zoom .fit {
    width: 30px;
    right: 30px;
    word-spacing: 6px;
    padding-top: 1px;
    line-height: 24px;
}
.zoom .reset {
    width: 30px;
    right: 0;
}

/* Colors */
body {
    color: #FFF;
}
#styles-player {
    background-color: black;
}
.timeline {
    background-color: #333;
}
.timeline .progress {
    background-color: red;
}
.timeline .handle {
    border-color: white;
    background-color: transparent;
}
.preview {
    background-color: rgba(0, 0, 0, .8);
}
